-# encoding: utf-8
%h1 Étape&nbsp;2&nbsp;: Correspondance des colonnes
%p
  Il faut mettre en face de chaque colonne sa correspondance. Une reconnaissance triviale est effectuée automatiquement en fonction des en-têtes de colonne.
%p
  %strong Remarque&nbsp;: 
  Par défaut, le nombre d'exemplaire sera de 1 si rien n'est spécifié.

=form_tag() do
  =render :partial=>"matching", :collection=>@matchings

  %fieldset
    %legend Options
    %table.formic
      %tr
        %td.label Préfixe N°Abonné
        %td.input=text_field_tag("subscriber_prefix", params["subscriber_prefix"])
      %tr
        %td.label Nombre de caractère maximum par ligne
        %td.input=text_field_tag("line_size", params["line_size"], :size=>4, :maxlength=>4)
      %tr
        %td.label Nom du fichier à exporter
        %td.input=text_field_tag("export_file", params["export_file"])
      
  .actions
    -if @messages
      =submit_tag("Exporter malgré les problèmes", :name=>"force_export")
    =submit_tag("Vérifier et exporter", :name=>"export")
    =link_to("Retour à l'étape 1", :action=>:upload)
