%h1 Étape&nbsp;3&nbsp;: Confirmation ou correction
%p
  Le fichier d'adresses contient des erreurs qui ne sont pas traitables par le système. Vous pouvez les corriger et recommencer votre procédure ou les ignorer et exporter les données.
.actions
  =link_to("Récupérer le fichier", request.url, :method=>:post)
  =link_to("Retour à l'étape 1", :action=>:upload)
