#import.actions=link_to("Importer un nouveau fichier", {:action=>:add_file}, :remote=>true, "data-update"=>"#files", "data-update-at"=>"top", :id=>"import-button")

#files

#export{"hidden-if-empty"=>"#files"}=render :partial=>"export_form"
