%h1 Étape&nbsp;1&nbsp;: Importer le fichier au format CSV
%p
  Il faut sélectionner le fichier d'adresses au format CSV (Encodage UTF-8 et des virgules en guise de séparateur). La première ligne est considérée comme une ligne d'en-têtes.
%p
  Les colonnes utilisables sont&nbsp;:
  =@columns.collect{|x| content_tag(:strong, x)}.to_sentence.html_safe

=form_tag({:action=>:upload}, :multipart=>true) do
  %fieldset
    %legend Fichiers à importer
    %table.formic
      %tbody#uploads=render :partial=>"upload", :collection=>@listings
    .actions
      =link_to("Ajouter un fichier", {:action=>:add_upload}, :remote=>true, "data-update"=>"#uploads", "data-update-at"=>"bottom")

  .actions
    =submit_tag("Envoyer")
