!!! XML utf-8
%html
  %head
    %title Epistola
    =stylesheet_link_tag("application", :media => "all")
    =javascript_include_tag(:application)
    =csrf_meta_tags
  %body
    %a#github{:href => "http://github.com/burisu/epistola"}
      %img{:style => "position: absolute; top: 0; right: 0; border: 0;", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", :alt=>"Fork me on GitHub"}
    #page
      #banner 
        %span.title Epistola
        %span  &ndash; 
        %span.slogan Vérification et génération de fichier de routage
      #main=yield
